<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SampleAdminRoleId" value="338565326" />
  <add key="SampleDevelopmentRoleId" value="338598449" />
  <add key="AgentID" value="132907517" />
  <add key="CorpId" value="ding99dd341fc99a25eb" />
  <add key="CorpSecret" value="szdxoAP2Wp2knwzsDcsDYvd_qLAjvx0YANa1RH4hOU-O8VxENo5hYE5glb_CsQg0" />
  <add key="MinPicPath" value="E:\Web开发\样品管理\pic\MinPic\" />
  <add key="PicPath" value="E:\Web开发\样品管理\pic\" />
  <add key="FilePath" value="E:\Web开发\样品管理\uploadfile\" />
  <add key="InStrageAlowChange" value="true" />
  <add key="IsInputStrageNeedAlow" value="true" />
  <add key="EnableLimtView" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="AllSampleCanLend" value="false" />
</appSettings>