<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="SampleAdminRoleId" value="338565326" />
  <add key="SampleDevelopmentRoleId" value="338598449" />
  <add key="AgentID" value="132907517" />
  <add key="CorpId" value="ding99dd341fc99a25eb" />
  <add key="CorpSecret" value="szdxoAP2Wp2knwzsDcsDYvd_qLAjvx0YANa1RH4hOU-O8VxENo5hYE5glb_CsQg0" />
  <add key="SampleFilePath" value="\src\sample\" />
  <add key="ProofFilePath" value="\src\proof\" />
  <add key="InStrageAlowChange" value="true" />
  <add key="IsInputStrageNeedAlow" value="true" />
  <add key="EnableLimtView" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="AllSampleCanLend" value="true" />
  <add key="ProofProcessCode" value="PROC-EFYJFT8W-LH24JJOXYC3TQ13O0LQM1-3D5I0OTJ-3" />
  <add key="FinshProofProcessCode" value="PROC-E144D6D0-BD30-41CC-B1C1-433E8579E461" />
  <add key="ApplyDownloadProcessCode" value="PROC-6FFDEE61-8570-41EB-8EDC-DFE9527CCBFF" />
  <add key="ApplyYarnOutStockProcessCode" value="PROC-BCD691DF-B1BF-477C-B3BE-3A56EC43EA6B" />
  <add key="CallBackUrl" value="http://api.sungingroup.com:8082/api/dd/DdCallBack" />
  <add key="PublicOwerId" value="031352526624092519" />
  <add key="PublicOwerId2" value="manager2606" />

</appSettings>