<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="YarnStock" connectionString="data source=192.168.188.250;initial catalog=JooWMS;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="ProofDataContext" connectionString="data source=192.168.1.202;initial catalog=sh_erp_113;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StorageData" connectionString="data source=192.168.188.250;initial catalog=JooWMS;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SunginDataContext" connectionString="Data Source=192.168.188.250;Initial Catalog=SampleMangeDev;Persist Security Info=True;User ID=sa;Password=sungin998013;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net configSource="Log4Net.config">

  </log4net>

</configuration>