<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="YarnStock"
      connectionString="data source=192.168.188.250;initial catalog=JooWMSdev;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <add name="ProofDataContext"
      connectionString="data source=192.168.1.202;initial catalog=sh_erp_113;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <add name="StorageData"
      connectionString="data source=192.168.188.250;initial catalog=JooWMSdev;persist security info=True;user id=sa;password=sungin998013;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
    <add name="SunginDataContext"
      connectionString="Data Source=192.168.188.250;Initial Catalog=SampleMangedev;Persist Security Info=True;User ID=sa;Password=sungin998013;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>